<header>Prompt Builder</header>

<div class="container row justify-content-around">
  <div class="prompt_builder col-4">
    <form action="#" method="post">
      <h3>Prompt Input</h3>
      <div class="input">
        <label for="userId">User Id:</label>
        <input
          type="text"
          id="userId"
          class="form-control"
          name="userId"
          [(ngModel)]="userId"
          required
        />
      </div>
      <div class="input">
        <label for="template">Template:</label>

        <select
          name="template"
          id="template"
          class="form-control"
          [(ngModel)]="template"
          required
        >
          <option value="issue">Issues</option>

          <option value="general">General Queries</option>
        </select>
      </div>

      <div class="input" *ngIf="template == 'general'">
        <label for="topic">Topic:</label>
        <input
          type="text"
          id="topic"
          class="form-control"
          name="topic"
          placeholder="Enter topic"
          [(ngModel)]="topic"
          required
        />
      </div>

      <div class="input">
        <label for="language">Language:</label>

        <select
          name="language"
          id="language"
          class="form-control"
          [(ngModel)]="language"
          required
        >
          <option value="English">English</option>

          <option value="Tamil">Tamil</option>

          <option value="Telugu">Telugu</option>

          <option value="Hindi">Hindi</option>
        </select>
      </div>

      <div class="input" *ngIf="template == 'issue'">
        <label for="paltform">Platform:</label>

        <!-- <input

          type="text"

          id="paltform"

          class="form-control"

          name="platform"

          required

        /> -->

        <select
          name="platform"
          id="platform"
          class="form-control"
          [(ngModel)]="platform"
          required
        >
          <option value="Citrix Cloud">Citrix Cloud</option>

          <option value="Windows">Windows</option>

          <option value="AWS">AWS</option>

          <option value="Azure">Azure</option>
        </select>
      </div>

      <div class="input" *ngIf="template == 'issue'">
        <label for="role">Role:</label>

        <!-- <input

          type="text"

          id="role"

          class="form-control"

          name="role"

          required

        /> -->

        <select
          name="role"
          id="role"
          class="form-control"
          [(ngModel)]="role"
          required
        >
          <option value="Admin L1">Admin L1</option>

          <option value="System Engineer">System Engineer</option>

          <option value="Network Admin">Network Admin</option>
        </select>
      </div>

      <div class="input" *ngIf="template == 'issue'">
        <label for="issue">Issue:</label>

        <input
          type="text"
          id="issue"
          class="form-control"
          name="issue"
          [(ngModel)]="issue"
          required
        />
      </div>

      <div class="input">
        <label for="temperature">Temperature:</label>

        <!-- <input

          type="text"

          id="temperature"

          class="form-control"

          name="temperature"

          required

        /> -->

        <select
          name="temperature"
          id="temperature"
          class="form-control"
          [(ngModel)]="temperature"
          required
        >
          <option value="0.1">0.1</option>

          <option value="0.2">0.2</option>

          <option value="0.3">0.3</option>

          <option value="0.4">0.4</option>

          <option value="0.5">0.5</option>

          <option value="0.6">0.6</option>

          <option value="0.7">0.7</option>

          <option value="0.8">0.8</option>

          <option value="0.9">0.9</option>
        </select>
      </div>

      <div class="input">
        <label for="numberOfPrompts">No.of Prompts required:</label>
        <select
          name="numberOfPrompts"
          id="role"
          class="form-control"
          [(ngModel)]="nop"
          required
        >
          <option value="1">1</option>

          <option value="2">2</option>

          <option value="3">3</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" (click)="getPrompts()">
        Generate Prompts
      </button>
    </form>
  </div>
  <div class="prompt_builder2 col-4" *ngIf="generated">
    <h3>Generated Prompts</h3>
    <p *ngFor="let generatedPrompt of generatedPrompts">
      {{ generatedPrompt }}
    </p>

    <button
      type="submit"
      class="btn btn-success"
      (click)="getSolutions()"
      *ngIf="generated"
    >
      Generate Solution
    </button>
  </div>
</div>

<div class="solution" *ngIf="sol_generated">
  <h3 class="p-2" *ngIf="sol_generated">Solution</h3>
  <p class="p-2">{{ genRes }}</p>
</div>

<!-- 
<h3>Hi, I'm Prompter, A Prompt Generator developer by the Gen AI team</h3>

<label for="t1">Please enter your name: </label><input type="text" id="t1" [(ngModel)]="name">
<label for="t2">Enter the category for which you require a prompt: </label> <input id="t2" [(ngModel)]="category">
<label for="t3">Enter the context: </label> <input type="textbox" rows="17" cols="3" [(ngModel)]="context">

<input type="submit" (click)="getPrompts()">

{{name}} -->
